<div class="h-20 w-full bg-green-800 dark:bg-green-600 rounded-[100px] flex justify-evenly items-center font-semibold text-white cursor-pointer">
    <div class=''>
        <div class="text-xl font-serif text-center drop-shadow-lg">100 KM</div>
        <div>Total Distance Travel</div>
    </div>
    <div>
        <div class="text-xl font-serif text-center drop-shadow-lg">7</div>
        <div>Tours</div>
    </div>
    <!-- <div>
        <div class="text-xl font-serif text-center drop-shadow-lg">652</div>
        <div>Akjdds</div>
    </div> -->
    <div>
        <div class="text-xl font-serif text-center drop-shadow-lg">567</div>
        <div>Registration</div>
    </div>
</div>
