<div class="mt-28 flex justify-center">
    <div class="">
        <h1 class="text-7xl mb-14 text-center">404</h1>
        <h1 class="text-3xl mb-14 text-center">Page Not Found</h1>
        <div class="grid md:grid-cols-2">
            <div class="flex justify-center">
                <img class="w-72" src="assets/gifs/error.gif" alt="">
            </div>
            <div class="flex flex-col justify-evenly">
                <div class="my-4">
                    <h1 class="text-xl">The page you are looking for is not found.</h1>
                    <h1 class="text-xl">Please check the URL</h1>
                </div>
                <div class="my-4">
                    <button (click)="navigate()" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                        Go to Home
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
