<div class="flex flex-col gap-4">
  <div class="shadow-md dark:shadow-light-dark rounded-lg grid gap-3 md:grid-cols-7 bg-white dark:bg-light-dark dark:text-white p-3 dark:border dark:border-gray-500">
    <!--! left -->
    <div
      class="mt-4 md:mt-0 mb-8 md:mb-0 md:col-span-2 flex flex-col justify-center items-center"
    >
      <h1 class="text-4xl md:text-2xl lg:text-3xl font-bold text-center">
        Good {{ greeting }},
      </h1>
      <p class="font-semibold text-gray-600 dark:text-gray-200">Admin Name</p>
    </div>

    <!--! right -->
    <div class="mb-4 md:mb-0 px-8 md:px-0 md:col-span-5 grid grid-cols-10">
      <div class="col-span-4">
        <h1 class="text-lg font-semibold mb-2">Save the Environment</h1>
        <p class="leading-tight text-sm text-gray-600 dark:text-gray-200">
          {{ quote[0].quote }}
        </p>
      </div>
      <!-- <div class="h-24 col-span-6 bg-no-repeat bg-cover bg-center" style="background-image: url('assets/illustrations/Forest-cuate.svg')"> -->
      <div
        class="h-full col-span-6 bg-no-repeat bg-cover bg-center"
        style="background-image: url('assets/icons/earth-internet.gif')"
      ></div>
    </div>
  </div>

  <div class="grid gap-4 grid-cols-2 grid-rows-2 md:grid-cols-4 md:grid-rows-1">
    <app-stat-card
      *ngFor="let data of cardList"
      [title]="data.title"
      [statNumber]="data.statNumber"
      [icon]="data.icon"
    ></app-stat-card>
  </div>
</div>
