.slick-wrapper{
    /* width: 1000px; */
    /* margin: 20px auto; */
}

.slick-prev:before, .slick-next:before {
    color: black!important;
}
.jt-carousel-image{
    width: 100%;
    height: 300px;
    object-fit: cover;
}