<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let slide of tours" class="m-2">
    <ng-template carouselSlide class="gap-3">
      <app-card
        [batchId] = "slide.id"
        [startDate]="slide.startDate"
        [endDate]="slide.endDate"
        [capacity]="slide.capacity"
        [availableSeats]="slide.availableSeats"
        [perParticipantCost]="slide.perParticipantCost"
        [guide]="slide.guide"
      ></app-card>
    </ng-template>
  </ng-container>
</owl-carousel-o>