<div class="mt-24 md:mx-10">
    <!--! top -->
    <div class="grid md:grid-rows-3 grid-cols-1 h-full md:h-[450px] overflow-hidden shadow-lg dark:shadow-lg dark:shadow-gray-500">
        <video id="vid" class="row-start-1 col-start-1 row-span-3 brightness-90" src="assets/video/ocean.mp4" autoplay loop></video>
        <div class="row-start-2 col-start-1 flex flex-col text-center drop-shadow-md">
            <p class="font-bold text-white text-3xl md:text-6xl">Welcome to</p>
            <p class="font-extrabold text-5xl md:text-8xl text-transparent bg-clip-text bg-gradient-to-r from-green-400 via-purple-500 to-rose-700">Johnnie Traveller</p>
        </div>
    </div>

    <!--! bottom -->
    <div class="grid grid-cols-1 md:grid-cols-2 md:grid-rows-3 gap-4 mt-14 dark:text-white">

        <div class="flex justify-center items-center bg-white dark:bg-gray-600 w-fit rounded-t-3xl md:rounded-tl-3xl md:rounded-tr-none shadow-md dark:shadow-light-dark dark:border dark:border-gray-500">
            <img class="w-3/5 animate-pulse" src="assets/illustrations/On the way-bro-red.png" alt="">
        </div>
        <div class="flex justify-center items-start p-12 bg-white dark:bg-gray-600 w-fit rounded-b-3xl md:rounded-tr-3xl md:rounded-b-none shadow-md dark:shadow-light-dark dark:border dark:border-gray-500">
            <div>
                <p class="text-4xl font-semibold mb-6">Seamless booking process</p>
                <p class="text-justify text-gray-600 dark:text-slate-300">Immerse yourself in the excitement of planning your trip without the hassle. Our intuitive platform ensures that every step, from selecting accommodations to booking activities, is a smooth and straightforward experience. Enjoy the simplicity of bringing your travel dreams to fruition with just a few clicks.</p>
            </div>
        </div>

        <div class="md:col-start-2 md:row-start-2 flex justify-center items-center bg-white dark:bg-gray-600 w-fit rounded-t-3xl md:rounded-none shadow-md dark:shadow-light-dark dark:border dark:border-gray-500">
            <img class="w-3/5 animate-pulse" src="assets/illustrations/Trip-pana-yellow.png" alt="">
        </div>
        <div class="flex justify-center items-start p-12 bg-white dark:bg-gray-600 w-fit rounded-b-3xl md:rounded-none shadow-md dark:shadow-light-dark dark:border dark:border-gray-500">
            <div>
                <p class="text-4xl font-semibold mb-6">Budget friendly</p>
                <p class="text-justify text-gray-600 dark:text-slate-300">Your journey shouldn't be compromised by budget constraints. Explore a myriad of affordable choices that don't compromise on quality. Our platform is dedicated to providing you with cost-effective solutions, allowing you to savor every moment of your adventure without worrying about your wallet.</p>
            </div>
        </div>


        <div class="flex justify-center items-center bg-white dark:bg-gray-600 w-fit rounded-t-3xl md:rounded-bl-3xl md:rounded-t-none shadow-md dark:shadow-light-dark dark:border dark:border-gray-500">
            <img class="w-3/5 animate-pulse" src="assets/illustrations/Team spirit-bro-blue.png" alt="">
        </div>
        <div class="flex justify-center items-start p-12 bg-white dark:bg-gray-600 w-fit rounded-b-3xl md:rounded-br-3xl md:rounded-bl-none shadow-md dark:shadow-light-dark dark:border dark:border-gray-500">
            <div>
                <p class="text-4xl font-semibold mb-6">Book for the family</p>
                <p class="text-justify text-gray-600 dark:text-slate-300">Cherish quality time with your loved ones as you effortlessly book family-friendly accommodations and activities. Our platform recognizes the unique needs of families, offering options that cater to all age groups and preferences. Create lasting memories with ease, knowing that every detail is tailored to the enjoyment of your entire family.</p>
            </div>
        </div>

    </div>
</div>