<div class="my-4 mx-2 dark:text-white">
  <div class="flex justify-center" (click)="navigate()">
    <img
      class="w-[64px] md:w-[92px] md:h-[92px] p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500 hover:scale-105 hover:shadow-lg transition-transform delay-50"
      src="assets/images/profile1.jpg"
      alt="Bordered avatar"
    />
  </div>
  <div class="text-lg font-semibold hidden md:block text-center">Alexandru Zdrobău</div>
  <div class="text-xs hidden md:block overflow-hidden text-gray-500 dark:text-gray-300 text-center">alexandruzdrobău@gmail.com</div>
</div>
