<div>
    <!--! Heading -->
    <div class="flex justify-center flex-col items-center my-10">
      <h1 class="text-4xl mb-2 font-medium dark:text-white">Top Values For You</h1>
      <p class="text-sm font-sans dark:text-gray-300">
        Try Variety of benefits when using our services
      </p>
    </div>

    <!--! Services Cards -->
    <div class="flex gap-20 justify-center dark:text-white">
      <div class="flex justify-center items-center flex-col">
        <div
          class="bg-white shadow-xl w-[100px] h-[100px] rounded-full flex justify-center items-center border-solid border-sky-500 border-2"
        >
          <img
            src="assets/images/Hotel Star.png"
            alt=""
            srcset=""
            class="w-[80px] h-[80px]"
          />
        </div>
        <p class="text-sm font-semibold mt-3">Best Accomodation</p>
      </div>
      <div class="flex justify-center items-center flex-col">
        <div
          class="bg-white shadow-xl w-[100px] h-[100px] rounded-full flex justify-center items-center border-solid border-sky-500 border-2"
        >
          <img
            src="assets/images/Hotel Star.png"
            alt=""
            srcset=""
            class="w-[80px] h-[80px]"
          />
        </div>
        <p class="text-sm font-semibold mt-3">Best Accomodation</p>
      </div>
      <div class="flex justify-center items-center flex-col">
        <div
          class="bg-white shadow-xl w-[100px] h-[100px] rounded-full flex justify-center items-center border-solid border-sky-500 border-2"
        >
          <img
            src="assets/images/Hotel Star.png"
            alt=""
            srcset=""
            class="w-[80px] h-[80px]"
          />
        </div>
        <p class="text-sm font-semibold mt-3">Best Accomodation</p>
      </div>
      <div class="flex justify-center items-center flex-col">
        <div
          class="bg-white shadow-xl w-[100px] h-[100px] rounded-full flex justify-center items-center border-solid border-sky-500 border-2"
        >
          <img
            src="assets/images/Hotel Star.png"
            alt=""
            srcset=""
            class="w-[80px] h-[80px]"
          />
        </div>
        <p class="text-sm font-semibold mt-3">Best Accomodation</p>
      </div>
    </div>
  </div>
  